<div class="container">
    <h2>Acerca de mí</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, distinctio! Voluptatibus dolores blanditiis aspernatur inventore, nam aliquam omnis quae. Est magni fuga ad animi error, maxime nemo officia sunt sapiente?</p>
</div>