<form>
    <input type="text" name="title" placeholder="Ingrese tarea">
    <input type="textarea" name="description" placeholder="Descripcion de tarea">
    <button type="submit">Guardar tarea</button>
</form>